[Desktop Entry]
Name=Player de Mídias
# Exec=lxterminal -e bash /var/lib/sc_player/tasks/init.sh
Exec=lxterminal --command="/var/lib/sc_player/tasks/init.sh"
Type=Application
Terminal=true
